<!-- <div class="sidenav">
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div> -->
  
  <div class="main">
    <h2 class="adminDb blueTheme">Admin Dashboard</h2>
    <div class="flex-container ">

      
          <div class="card">
              <img class="card-img-top"  src="../../../assets/images/user.JPG" alt="User Management">
              <div class="card-body">
                <h5 class="card-title"> 
                  <input type="button" class="btn btn-primary expanded" 
                  id="submit" value="User Management"  [routerLink]="['/setMyHome/userList']">
                </h5>
                <p class="card-text"><small class="text-muted"></small></p>
              </div>
            </div>

      
          <div class="card">
              <img class="card-img-top" src="../../../assets/images/event.JPG" alt="Event Management">
              <div class="card-body">
                <h5 class="card-title">Event Management</h5>
                <p class="card-text"><small class="text-muted"></small></p>
              </div>
            </div>
       

       

            <div class="card">
                <img class="card-img-top" src="../../../assets/images/settings.JPG" alt="Settings">
                <div class="card-body">
                  <h5 class="card-title">Settings</h5>
                  <p class="card-text"><small class="text-muted"></small></p>
                </div>
              </div>
        
            <div class="card">
                <img class="card-img-top" src="../../../assets/images/analytics.JPG" alt="Analytics">
                <div class="card-body">
                  <h5 class="card-title">Analytics</h5>
                  <p class="card-text"><small class="text-muted"></small></p>
                </div>
              </div>
          </div>


    </div>
  
    
